.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-color: indigo;
    border-radius: 15px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease-in-out;
    width: 92%;
    height: fit-content;
    margin: 0 auto;
    padding: 20px;
     
}
.form {
    display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        gap: 10px;
        padding: 20px;
        }
